html, body, #grid {
    margin: 0;
    height: 100%;
}

#main-container {
    border: 1px solid black;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #B8E1FF;
}

#main-display {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    font-size: 80px;
}

.calc-row {
    display: flex;
    flex: 1;
}

.calc-btn {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#zero {
    flex: 2;
}

button {
    height: 75%;
    width: 75%;
    border-radius: 4px;
    font-size: 15px;
}

#zero button  {
    height: 75%;
    width: 90%;
}

#main-display, button {
    font-family: sans-serif;
}

.operator {
    background-color: honeydew;
}

.number {
    background-color: #FFB8E1;
}

.misc {
    background-color: #B8BDFF;
}